/node-module-manager.js
**/node_modules/*

/modules/weather/index.js
/modules/tumblr-insult.js
/modules/startup.js
/modules/scrollback/index.js
/modules/amazon/test-integ.js
/modules/blerg/blerg.js
/modules/btc/index.js
/modules/clojure/index.js
/modules/clojure/utils.js
/modules/cmdio/index.js
/modules/commandTreeTest.js
/modules/conspiracy.js
/modules/dicks.js
/modules/diss.js
/modules/dns/index.js
/modules/dota2/index.js
/modules/dotochallenge.js
/modules/gamedev.js
/modules/geo/index.js
/modules/github/index.js
/modules/google/index.js
/modules/help.js
/modules/hn/index.js
/modules/imgur/imgur.js
/modules/isup/index.js
/modules/join.js
/modules/newegg/index.js
/modules/nicovideo/index.js
/modules/onMath/index.js
/modules/onMath/onmath.test.js
/modules/ping.js
/modules/que/index.js
/modules/stocks/index.js
